html {
  font-size: 14px;
}
body {
  /* font-family: var(--font-family); */
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
.toolbar {
  display: flex; /* Align children in a row */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space between left and right sections */
  padding: 10px; /* Optional: Add some padding */
  gap: 5px; /* Optional: Add spacing between items */
}

.toolbar > :nth-child(1),
.toolbar > :nth-child(2) {
  margin-right: auto; /* Push RowsPerPage and ColumnToggle to the left */
}

.toolbar > :nth-child(3),
.toolbar > :nth-child(4) {
  margin-left: 10px; /* Push GlobalSearch and ClearFiltersButton to the right */
}
.rows-per-page-container {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
}

.rows-per-page-container label {
  margin-right: 0; /* No margin between label and input */
}

.rows-per-page-container input {
  margin-left: 0; /* No margin between input and label */
  width: 4em; /* Optional: Adjust width of input for better fit */
}


.p-multiselect {
  width: 100%;
  margin: 5px;
}
.wide-column {
  background-color: #f4f4f4; /* Light background color for the header */
  color: #333; /* Text color */
  font-weight: bold; /* Make the header text bold */
  text-align: center; /* Center align the header text */
  padding: 10px; /* Add padding to the header */
}
.p-button{
  margin: 2px;
}
input[type="text" i]{
  height: 38px;
}
/* .p-button[aria-label="Clear"] {
  display: none; /* or visibility: hidden;*/
/* } */ 
/* .p-button[aria-label="Apply"]{
  display: none; /* or visibility: hidden;*/
/* } */ 

/* Basic Table Styling */
.p-d-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders collapse into a single line */
}

/* Styling table header */
.p-d-table thead {
  background-color: #f2f2f2;
}

.p-d-table th, .p-d-table td {
  border: 1px solid #ddd; /* Light gray border */
  padding: 8px;
  text-align: left;
}

/* Styling for no data row */
.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
}

/* Optional: Add hover effect for rows */
.p-d-table tr:hover {
  background-color: #f5f5f5;
}
