html {
  font-size: 14px;
}
body {
  /* font-family: var(--font-family); */
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}
.p-multiselect {
  width: 100%;
  margin: 5px;
}
.wide-column {
  background-color: #f4f4f4; /* Light background color for the header */
  color: #333; /* Text color */
  font-weight: bold; /* Make the header text bold */
  text-align: center; /* Center align the header text */
  padding: 10px; /* Add padding to the header */
}
.p-button{
  margin: 2px;
}
input[type="text" i]{
  height: 38px;
}
/* .p-button[aria-label="Clear"] {
  display: none; /* or visibility: hidden;*/
/* } */ 
/* .p-button[aria-label="Apply"]{
  display: none; /* or visibility: hidden;*/
/* } */ 

